html,
body {
  height: 100%;
  margin: 0;
}
.container {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 50px;
}

.colors {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 10px;
  border: 0px;
  cursor: pointer;
}


#color-1{
    background-color: #EB9DA2;
}
#color-2{
    background-color: #F0B884;
}
#color-3{
    background-color: #E8E6A5;
}
#color-4{
    background-color: #BBE8B5;
}
#color-5{
    background-color: #ACBBE8;
}
#color-6{
    background-color: #C5ACE8;
}
